@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Nunito, sans-serif;
  background-image: url('bg.jpg');
  margin: 0;
}
.container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.info-inner {
  background-color: #0008;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
table {
    border-collapse: collapse;
    background: url("image.png");
    background-size: cover;
    background-position: center;
}
td {
    width: 20px !important;
    height: 20px !important;
    overflow: hidden;
    line-height: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
.revealed {
    background-color: #cccc;
}
.mine {
    background-color: red;
}
.flag {
  background-image: url('./flaga.png');
  background-size: cover;
}
.transparent {
  background-color: transparent !important;
}

.n1 { color: #00f; }

.n2 { color: #080; }

.n3 { color: #f00; }

.n4 { color: #008; }

.n5 { color: #800; }

.n6 { color: #088; }

.n7 { color: #000; }

.n8 { color: #888; }
